Repository Muneer94/elk-docker: changes, and which Jenkins stages are due for each by the changed paths.
All: Sample, Deploy ElasticSearch, Deploy Kibana, Deploy Logstash, Deploy Filebeat, Deploy Hearbeat

Jenkinsfile:

#!/usr/bin/env groovy

import jenkins.model.*;
import groovy.json.*

pipeline {
    agent any
    environment {
        CRED_ID = '0e2e4a1b-17ef-4112-9694-0c87163c4fd8'
        INVENTORY_PATH = 'inventory/ansible_hosts'
    }
    options {
        ansiColor('xterm')
    }
    stages {
        stage('Lint Code') {
            steps {
                script {
                    sh 'ansible-lint elk.yml'
                }
            }
        }
        stage('Sample') {
            when {
                anyOf {
                    changeset "vars/**"
                    changeset "inventory/**"
                }
            }
            steps {
                script {
                    echo "Muneer"
                }
            }
        }
        stage('Deploy ElasticSearch') {
            when {
                anyOf {
                    changeset "vars/**"
                    changeset "inventory/**"
                    changeset "roles/elasticsearch/**"
                }
            }
            steps {
                ansiblePlaybook colorized: true, installation: "Ansible", credentialsId: "${env.CRED_ID}", inventory: "${env.INVENTORY_PATH}", playbook: "elk.yml",tags: "elasticsearch"
            }
        }
        stage('Deploy Kibana') {
            when {
                anyOf {
                    changeset "vars/**"
                    changeset "inventory/**"
                    changeset "roles/kibana/**"
                }
            }
            steps {
                ansiblePlaybook colorized: true, installation: "Ansible", credentialsId: "${env.CRED_ID}", inventory: "${env.INVENTORY_PATH}", playbook: "elk.yml",tags: "kibana"
            }
        }
        stage('Deploy Logstash') {
            when {
                anyOf {
                    changeset "vars/**"
                    changeset "inventory/**"
                    changeset "roles/logstash/**"
                }
            }
            steps {
                ansiblePlaybook colorized: true, installation: "Ansible", credentialsId: "${env.CRED_ID}", inventory: "${env.INVENTORY_PATH}", playbook: "elk.yml",tags: "logstash"
            }
        }
        stage('Deploy Filebeat') {
            when {
                anyOf {
                    changeset "vars/**"
                    changeset "inventory/**"
                    changeset "roles/filebeat/**"
                }
            }
            steps {
                ansiblePlaybook colorized: true, installation: "Ansible", credentialsId: "${env.CRED_ID}", inventory: "${env.INVENTORY_PATH}", playbook: "elk.yml",tags: "filebeat"
            }
        }
        stage('Deploy Hearbeat') {
            when {
                anyOf {
                    changeset "vars/**"
                    changeset "inventory/**"
                    changeset "roles/heartbeat/**"
                }
            }
            steps {
                ansiblePlaybook colorized: true, installation: "Ansible", credentialsId: "${env.CRED_ID}", inventory: "${env.INVENTORY_PATH}", playbook: "elk.yml",tags: "heartbeat"
            }
        }
    }
}

Add Lint
  Jenkinsfile
Due: none

Add version
  Jenkinsfile
Due: none

Add Lint
  .ansible-lint
  Jenkinsfile
Due: none

Fix issues
  roles/elasticsearch/tasks/main.yml
Due: Deploy ElasticSearch

Fix issues
  roles/filebeat/tasks/main.yml
Due: Deploy Filebeat

Fix issues
  ansible.cfg
Due: none

Fix issues
  roles/heartbeat/tasks/main.yml
Due: Deploy Hearbeat

Fix issues
  roles/heartbeat-watcher/tasks/main.yml
  roles/logstash/tasks/main.yml
  roles/metricbeat/tasks/main.yml
  roles/nginx/tasks/main.yml
Due: Deploy Logstash

Fix issues
  roles/filebeat/tasks/main.yml
  roles/heartbeat-watcher/tasks/main.yml
  roles/heartbeat/tasks/main.yml
  roles/logstash/tasks/main.yml
  roles/metricbeat/tasks/main.yml
  roles/nginx/tasks/main.yml
Due: Deploy Logstash, Deploy Filebeat, Deploy Hearbeat

Deploy Sonarqube
  elk.yml
  roles/sonarqube/handlers/main.yml
  roles/sonarqube/tasks/main.yml
  vars/all.yml
Due: Sample, Deploy ElasticSearch, Deploy Kibana, Deploy Logstash, Deploy Filebeat, Deploy Hearbeat

Deploy Sonarqube
  roles/sonarqube/tasks/main.yml
Due: none

Deploy Postgres Sonarqube
  roles/sonarqube/tasks/main.yml
  vars/all.yml
Due: Sample, Deploy ElasticSearch, Deploy Kibana, Deploy Logstash, Deploy Filebeat, Deploy Hearbeat

Deploy Postgres Sonarqube
  vars/all.yml
Due: Sample, Deploy ElasticSearch, Deploy Kibana, Deploy Logstash, Deploy Filebeat, Deploy Hearbeat

Sonarqube
  Jenkinsfile
  sonar-project.properties
Due: none

Sonarqube fixd
  Jenkinsfile
Due: none

Sonarqube fix
  Jenkinsfile
Due: none

Sonarqube fix
  roles/sonarqube/handlers/main.yml
Due: none

Sonarqube fixing
  roles/sonarqube/tasks/handlers/main.yml
Due: none

Sonarqube fixing
  roles/sonarqube/tasks/handlers/main.yml
  roles/sonarqube/tasks/main.yml
Due: none

Sonarqube fixing IT
  roles/sonarqube/tasks/handlers/main.yml
  roles/sonarqube/tasks/main.yml
Due: none

Add Sonarqube
  Jenkinsfile
Due: none

Add Timeout
  roles/sonarqube/tasks/main.yml
Due: none

Add Timeout
  Jenkinsfile
Due: none

Add JDK 11
  Jenkinsfile
Due: none

Check Sonarqube
  Jenkinsfile
Due: none

Set Correct ENV name for cosmos
  Jenkinsfile
Due: none
